name: Read triggers

on:
  push:
    branches: [master]

jobs:
  triggers:
    name: Print info
    runs-on: ubuntu-latest
    steps:
      - name: github.event.base_ref
        run: |
          echo "${{ github.event.base_ref }}"

      - name: github.event.pusher
        run: |
          echo "${{ github.event.pusher }}"

      - name: github.event.ref
        run: |
          echo "${{ github.event.ref }}"

      - name: github.event.sender
        run: |
          echo "${{ github.event.sender }}"

      - name: github.event_name
        run: |
          echo "${{ github.event_name }}"

      - name: echo file
        run: |
          echo "${{ github }}" > gh

      - name: Upload Tizen package artifact
        uses: actions/upload-artifact@v3
        with:
          name: gh
          path: ./gh
