name: Read triggers

on:
  push:
    branches: [master]

jobs:
  triggers:
    name: Print info
    runs-on: ubuntu-latest
    steps:
      - name: github.action
        run: |
          echo "${{ github.action }}"
      - name: github.action_path
        run: |
          echo "${{ github.action_path }}"
      - name: github.event
        run: |
          echo "${{ github.event }}"
      - name: github.event_name
        run: |
          echo "${{ github.event_name }}"
      - name: github.event_path
        run: |
          echo "${{ github.event_path }}"
      - name: github.triggering_actor
        run: |
          echo "${{ github.triggering_actor }}"
